<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <applicationSettings>
    <MyService.Properties.Settings>
      <setting name="KeyContainerName" serializeAs="String">
        <value>KeyNameHere</value>
      </setting>
      <setting name="MyServiceApi" serializeAs="String">
        <value>http://mysite.com/MyService.svc</value>
      </setting>
      <setting name="KeyPairPath" serializeAs="String">
        <value>C:\inetpub\websites\mysite\wwwroot\mykey.pubkey</value>
      </setting>
      <setting name="LogPath" serializeAs="String">
        <value>\\mysshare\logs\myservice</value>
      </setting>
      <setting name="Log4NetConversionPattern" serializeAs="String">
        <value>%d{ISO8601}|%-5p|(%t)|%m%n</value>
      </setting>
      <setting name="FailedRequestsLogPath" serializeAs="String">
        <value>\\mysshare\logs\myservice\FailedRequests</value>
      </setting>
    </MyService.Properties.Settings>
  </applicationSettings>
</configuration>
