<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <applicationSettings>
		<MyService.Properties.Settings>
			<setting name="KeyContainerName" serializeAs="String" xdt:Locator="Match(name)">
				<value xdt:Transform="Replace">EmIjfRtis/+9u9aeZt1cVTbdrxzwqmnXGtY3MuPVyh1KvQpAWISX8XxO6Q8UOqwXG95w50bGSCyVUjMGVc4pV9nJyO0FhgxIWXLOEq8AA9vQwDcLzeiqajTzqLz4MY1st6ufRkV//kAN5HF3c+FmNUKl8RJguznclmQHJxAmja0=</value>
			</setting>
			<setting name="MyServiceApi" serializeAs="String" xdt:Locator="Match(name)">
				<value xdt:Transform="Replace">http://mysite.com/MyNewService.svc</value>
			</setting>
			<setting name="KeyPairPath" serializeAs="String" xdt:Locator="Match(name)">
				<value xdt:Transform="Replace">C:\inetpub\websites\mysite\wwwroot\mynewkey.pubkey</value>
			</setting>
			<setting name="LogPath" serializeAs="String" xdt:Locator="Match(name)">
				<value xdt:Transform="Replace">\\mysshare\logs\mynewservice</value>
			</setting>
			<setting name="FailedRequestsLogPath" serializeAs="String" xdt:Locator="Match(name)">
				<value xdt:Transform="Replace">\\mysshare\logs\mynewservice\FailedRequests</value>
			</setting>
		</MyService.Properties.Settings>
	</applicationSettings>
</configuration>
